---
import { datocms } from "@lib"
import query from "./index.graphql"

const { data } = await datocms.request(query)

console.log(data);

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
  </body>
</html>

<style>
  :root {
    --c-primary: #ff6b6b;
  }

  body {
    display: grid;
    grid-template-columns: max-content;
    background: black;
    text-align: center;
  }
</style>
